body {
  background-image: url("/images/bg-horz.PNG"); }

.sidebar {
  position: inherit;
  width: inherit;
  margin: 0;
  padding: 5px; }
  .sidebar .name {
    font-size: 36px;
    position: relative;
    left: 10px; }
  .sidebar img {
  	float: left;
  	width: 60px;
  	height: 60px; }
  .sidebar ul {
    padding: 5px; }
  .sidebar li {
    display: block; }
  .sidebar .sections {
    font-size: 20px;
    margin: 0;
    padding: 3px;
    float: left;
    text-align: left; }
    .sidebar .sections li {
      list-style: none;
      /*margin-bottom: 7px;*/
      margin-left: 10px;
      margin-right: 10px;
      display: inline; }
  .sidebar .projects {
    position: absolute;
    right: 5px;
    top: 0px;
    text-align: right; }

.content {
  margin: 0;
  padding: 3px 5px;
  width: inherit;
  clear: both; }
  .content h1 {
    margin: 0 0 3px 0; }
  .content h1 img {
    width: 64px;
    height: 64px; }

#video {
	border-radius: 5px;
	padding: 0px;
    border: 0px;
    width: 95%;
    height: auto; }
#disqus_thread {
	width: inherit; }
#dsq-content #dsq-comments .dsq-comment {
	font-size: 12px; }
