.sidebar {
  position: inherit;
  width: inherit;
  margin: 0;
  padding: 5px; }
  .sidebar img {
  	float: right;
    display: inline; }
  .sidebar .name {
    display: inline; }
    .sidebar .name #fname, .sidebar .name #lname {
      font-size: 25px; }
  .sidebar ul {
    padding: 5px; }
  .sidebar .sections {
    margin: 0; }
    .sidebar .sections a {
      font-size: 16px;
      margin: 0 10px 0 0;
      padding: 3px 5px; }

.content {
  margin: 0;
  padding: 3px 5px;
  width: inherit; }
  .content h1 {
    margin: 0 0 3px 0; }

#video {
	border-radius: 5px;
	padding: 0px;
    border: 0px;
    width: 100%;
    height: auto; }
#disqus_thread {
	width: inherit; }
#dsq-content #dsq-comments .dsq-comment {
	font-size: 12px; }
