.sidebar {
  position: inherit;
  width: inherit;
  margin: 0;
  padding: 5px; }
  .sidebar img {
  	float: right;
  	width: 60px;
  	height: 60px; }
  .sidebar ul {
    padding: 5px; }
  .sidebar li {
    display: block; }
  .sidebar .sections {
  	float: right;
    font-size: 17px;
    margin: 0;
    padding: 3px; }
    .sidebar .sections a {
      margin: 0 10px 0 0; }
    .sidebar .sections .projects {
      float: left; }

.content {
  margin: 0;
  padding: 3px 5px;
  width: inherit; }
  .content h1 {
    margin: 0 0 3px 0; }

#video {
	border-radius: 5px;
	padding: 0px;
    border: 0px;
    width: 100%;
    height: auto; }
#disqus_thread {
	width: inherit; }
#dsq-content #dsq-comments .dsq-comment {
	font-size: 12px; }
